{{ block "login-form" .}}
<form id="login-form" hx-post="/login" hx-trigger="submit" hx-target="#login-form" hx-swap="innerHTML">
  <div class="input-group mb-3">
    <input name="email" type="text" class="form-control" placeholder="Email" {{ if .LoginForm.Email }}
      value="{{ .LoginForm.Email }}" {{ end }}required>
  </div>
  <div class="input-group mb-3">
    <input name="password" type="password" class="form-control" placeholder="Password" required>
  </div>
  <div class="input-group mb-3">
    <button type="submit" class="btn btn-primary input-group-append">Login</button>
  </div>
  {{ if .HasError }}
  {{ if .IsLoggedIn }}
  <div id="errors" class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <!-- Sends a get request to /logout which destroys any cookie held by the client, 
    and redirects to the login page. In this instance we target the body so the whole application gets replaced
    -->
    <p>Already logged in. <a class="link-primary" href="" hx-get="/logout" hx-target="body">Logout</a></p>
  </div>

  {{ else }}
  <div id="errors" class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <p>Error: {{ .ErrorText }}</p>
  </div>
  {{ end }}
  {{ end }}
</form>

{{ end }}

{{ block "login" .}}
<!DOCTYPE html>
{{ template "head" . }}
{{ template "navbar" . }}

<body>
  <div id="main-content" class="container mt-4">
    <h1 class="text-center display-5">Login</h1>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          {{ template "login-form" .}}
          <p class="text-center">Don't have an account? <a href="/register">Register here</a></p>
        </div>
      </div>
    </div>
  </div>
</body>

{{ end }}

{{ block "register-form" . }}
{{ if .IsLoggedIn }}
<div id="errors" class="alert alert-danger fade show" role="alert">
  <!-- Sends a get request to /logout which destroys any cookie held by the client, 
    and redirects to the login page. In this instance we target the body so the whole application gets replaced
    -->
  <p>Already logged in. <a class="link-primary" href="" hx-get="/logout" hx-target="body">Logout?</a></p>
</div>
{{else}}
<div id="registerForm">
  <form hx-post="/register" hx-trigger="submit" hx-target="#registerForm" hx-swap="outerHTML">
    <div class="input-group mb-3">
      <input name="Email" type="text" class="form-control" placeholder="email" required>
    </div>
    <div class="input-group mb-3">
      <input name="password" type="password" class="form-control" placeholder="Password" required>
    </div>
    <div class="input-group mb-3">
      <button type="submit" class="btn btn-primary input-group-append">Register</button>
    </div>

    {{ if .HasError }}
    <div id="errors" class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <p>Error: {{ .ErrorText }}, please try again</p>
    </div>
    {{ end }}

    {{ if .Success }}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <p>Account created! <a target="_self" href="/login">Login</a></p>
    </div>
    {{ end }}

  </form>

  <p class="text-center">Already have an account? <a href="/login">Login here</a></p>
</div>
{{ end }}
{{ end }}

{{ block "register" . }}
<!DOCTYPE html>
{{ template "head" . }}
{{ template "navbar" . }}

<body>
  <div id="main-content" class="container mt-4">
    <h1 class="text-center display-5">Register</h1>
    <div class="container" id="login-form">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          {{ template "register-form" . }}
        </div>
      </div>
    </div>
  </div>
</body>

{{ end }}
